body{
    margin: 0;
    padding: 0;
}
.design{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-image{
    background: url("pictures/Header.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 39em;
    z-index: -1;
    /* opacity: 0.85; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.shape1{
    background: white;
    color: white;
    background: url("pictures/Vector\ \(2\).png");
    background-position:top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 47.976078033447266px;
    width: 47.97711181640625px;
    left: 0.01171875px;
    top: 0.010009765625px;
    border-radius: 0px;
    z-index: 1;
    align-self:flex-start;
    margin-left: 15%;
    margin-bottom: 13%;
    margin-top: 3%;
    
}
.p1{
    font-family: Raleway;
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.70em;
    text-align: center;
    z-index: 1;
    color: white;
}
.p2{
    font-family: Raleway;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.47em;
    text-align: center;
    color: white;
    z-index: 1;
}
.bg-image .btn{
    padding: 10px 15px 10px 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-size: 9px;
    line-height: 13px;
    letter-spacing: 0.37em;
    text-transform: uppercase;
    align-self: center;
    color: #0B0B0B;
    background: #FDE500;
}
.mountain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 400px;
}
.shape2{
    background: url("pictures/CompositePath.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 65.9754867553711px;
    width: 145.0175018310547px;
    left: -0.0078125px;
    top: 0.0240478515625px;
    border-radius: 0px;
    padding-bottom: 10%;
}
.p3{
    font-family: Raleway;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.55em;
    text-align: center;
    color: black;
    padding: 0% 30% 10% 30%;

}
.jobsWeDid{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    height: 241px;
    width: 100%;
    left: 0px;
    top: 2369px;
    border-radius: 0px;
    background-color: black;

}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 71px;
    width: 20%;
    background-color: white;
    z-index: 1;

}
.block p{
    font-family: Raleway;
    font-size: 10px;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: 0.25em;
    text-align: center;
    color: black;
    margin: 0%;
}
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 46vw;
    width: 100%;
    left: 0px;
    top: 2369px;
    border-radius: 0px;
    background: #F4F4F4;
    padding-top: 3%;
}
.blockPort{
    display: flex;
    justify-content: space-around;
    width: 1168px;
    height: 63px;
    left: calc(50% - 1168px/2);
    top: 2979px;

}
.portfoliolineSign{
    width: 1168px;
    height: 20px;
    left: calc(50% - 1168px/2);
    top: 2979px;
    background: url("pictures/Line\ \(1\).png");

}
.portfolioSign{
    background: url("pictures/Vector\ \(3\).png");
    height: 103.94816589355469px;
    width: 103.95040893554688px;
    left: 0.02587890625px;
    top: 0.021484375px;
    border-radius: 0px;
    align-self: center;
}
.portfolioGallery{
    display: flex;
    width: 100%;
    height: 50%;
}
.portfolioPic1{
    height: 100%;
    width: 18%;
    background: url("pictures/1.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5%;
}
.portfolioPic2{
    height: 100%;
    width: 18%;
    background: url("pictures/2.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5%;

}
.portfolioPic3{
    position: relative;
    height: 100%;
    width: 18%;
    background: url("pictures/3.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5%;
}
.portfolioPic4{
    height: 100%;
    width: 18%;
    background: url("pictures/4.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5%;
}
.portfolioPic5{
    height: 100%;
    width: 18%;
    background: url("pictures/5.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5%;
}
.portfolioPic6{
    height: 100%;
    width: 18%;
    background: url("pictures/6.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5%;
}
.yellowRec{
    position: relative;
    height: 65%;
    width: 75%;
    background: #FDE500;
    opacity: 0.9;
    z-index: 1;
    margin: auto;
    margin-top: 12%;
}
.whiteRec{
    position: absolute;
    height: 55%;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 20%);
    z-index: 2;
    margin-top: -83%;
    margin-left: 5%;

}
.p9{
    position: absolute;
    width: 227.74px;
    height: 21px;
    left: calc(50% - 227.74px/2 - 0px);
    /* top: 32px; */
    
    font-family: 'Raleway';
    font-style: italic;
    /* font-weight: 600; */
    font-size: 13px;
    /* line-height: 140%;     */
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #0B0B0B;
}
.p10{
    position: absolute;
    width: 229.93px;
    height: 116px;
    left: calc(50% - 229.93px/2 + 0px);
    top: 30px;
    
    font-family: 'Raleway';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 12px;
    line-height: 180%;
    /* or 24px */
    
    text-align: center;
    letter-spacing: 0.01em;
    
    /* Black */
    
    color: #0B0B0B;
}
.like{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    height: 241px;
    width: 100%;
    left: 0px;
    top: 2369px;
    border-radius: 0px;
}
.like .btn{
    padding: 8px 25px 8px 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-size: 7px;
    line-height: 13px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
    align-self: center;
    color: #0B0B0B;
    background: #FDE500;
}
.VIDEO{
    height: 380px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.bg-image2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("pictures/ADDIMAGEHERE.png");
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: contain; */
    width: 100%;
    height: 380px;
    z-index: -1;
    /* opacity: 0.85; */
}
.bg-image2 .btn{
    height: 76px;
    width: 371px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #FDE500;
    z-index: 1;

    }
.john-doe-seo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 40vw;
    background-color: white;
}
.rectangleYellow{
    position: relative;
    height: 30%;
    background-color: #FDE500;
    margin-top: 5%;
}
.boxleft{
    position: absolute;
    height: 60%;
    width: 40%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: black;
    margin-left: 10%;

}
.seoText{
    position: absolute;
    left: 12.94%;
    right: 12.94%;
    top: 13.95%;
    bottom: 17.63%;
    
    font-family: 'Raleway';
    font-style: italic;
    /* font-weight: 400; */
    font-size: 12px;
    line-height: 250%;
    /* or 24px */
    
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
}
.p5{
    /* position: absolute; */
    width: 402px;
    height: 81px;
    left: 467px;
    top: 5499px;
    
    font-family: 'Raleway';
    font-style: italic;
    /* font-weight: 400; */
    font-size: 13px;
    line-height: 206%;
    /* or 27px */
    
    text-align: center;
    letter-spacing: 0.05em;
    color: #0B0B0B;
    margin-left: 17%;
    margin-top: 10%;

}
.sign{
    width: 42%;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    font-size: 13px;
    line-height: 206%;    
    text-align: center;
    letter-spacing: 0.05em;
    color: #0B0B0B;
}
.boxright{
    position: absolute;
    height: 60%;
    width: 40%;
    border-radius: 0px;
    background-color: black;
    margin-left: 52%;

}
    .team{
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
        height: 700px;
        background: #FFFFFF;

    }
    .shape3{
        background: url("pictures/Composite\ Path-1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 25px;
        width: 69px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        padding-bottom: 5%;
        /* padding-top: 5%; */
    }
    .p6{
        width: 391px;
        height: 28px;
        left: calc(50% - 391px/2 + 0.5px);
        top: 4257px;
        font-family: 'Raleway';
        font-style: normal;
        /* font-weight: 600;
        font-size: 20px; */
        line-height: 140%;
        /* identical to box height, or 28px */   
        text-align: center;
        letter-spacing: 0.78em;
        text-transform: uppercase;
        color: #0B0B0B;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .p7{
        width: 764px;
        height: 66px;
        left: calc(50% - 764px/2);
        top: 4308px;
        
        font-family: 'Raleway';
        font-style: normal;
        /* font-weight: 400;
        font-size: 16px; */
        line-height: 206%;
        /* or 33px */
        
        text-align: center;
        letter-spacing: 0.05em;
        
        /* Black */
        
        color: #0B0B0B;
        margin-top: 8px;
        margin-bottom: 8px;

        
    }
    .members{
        padding-top: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    .member{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 450px;
        width: 230px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        margin-right: 10px;
    }
    .bg-image3{
        display: flex;
        background: url("pictures/member1.png");
        background-position: top;
        background-repeat: no-repeat;
        width: 230px;
        height: 60%;
        left: 0px;
        top: 0px;
        background-size: cover;
    }
    .bg-image4{
        display: flex;
        background: url("pictures/member2.png");
        background-position: top;
        background-repeat: no-repeat;
        width: 230px;
        height: 60%;
        left: 0px;
        top: 0px;
        background-size: cover;
    }
    .bg-image5{
        display: flex;
        background: url("pictures/member3.png");
        background-position: top;
        background-repeat: no-repeat;
        width: 230px;
        height: 60%;
        left: 0px;
        top: 0px;
        background-size: cover;
    }
    .bg-image6{
        display: flex;
        background: url("pictures/member4.png");
        background-position: top;
        background-repeat: no-repeat;
        width: 230px;
        height: 60%;
        left: 0px;
        top: 0px;
        background-size: cover;
    }

    .marker{
        width: 100%;
        height: 20%;
        background: #FDE500;
        z-index: 1;
        opacity: 0.9;
        align-self: flex-end;
    }
    .name{
        left: 8.39%;
        right: 8.49%;
        top: 59.62%;
        bottom: 36.35%;
        
        font-family: 'Raleway';
        font-style: normal;
        /* font-weight: 600;
        font-size: 13px; */
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.25em;
        color: #0B0B0B;
    }
    .aboutmember{
        left: 8.03%;
        right: 8.06%;
        top: 70.96%;
        bottom: 6.73%;
        
        font-family: 'Raleway';
        font-style: italic;
        /* font-weight: 400;
        font-size: 12px; */
        line-height: 200%;
        /* or 24px */
        
        text-align: center;
        letter-spacing: 0.05em;
        
        /* Black */
        
        color: #0B0B0B;
    }
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        height: 929px;
        width: 100%;
        left: 0px;
        top: 2369px;
        border-radius: 0px;
        background: #F4F4F4;
    }
    .service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        margin-right: 10px;
        height: 353px;
        width: 274px;
        background: #FFFFFF;

    }
    .shape4{
        width: 72px;
        height: 71px;
        left: 101px;
        top: 41px;
        background: url("pictures/Vector\ Smart\ Object-3.png");
    }
    .shape5{
        width: 72px;
        height: 71px;
        left: 101px;
        top: 41px;
        background: url("pictures/Vector\ Smart\ Object-2.png");
    }
    .shape6{
        width: 72px;
        height: 71px;
        left: 101px;
        top: 41px;
        background: url("pictures/Vector\ Smart\ Object-1.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .shape7{
        width: 72px;
        height: 71px;
        left: 101px;
        top: 41px;
        background: url("pictures/Vector\ Smart\ Object.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .servicetype{
        width: 208px;
        height: 45px;
        left: calc(50% - 208px/2);
        top: 136px;
        
        font-family: 'Raleway';
        font-style: italic;
        /* font-weight: 600;
        font-size: 16px; */
        line-height: 140%;        
        text-align: center;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #0B0B0B;
    }
    .serviceexplain{
        width: 210px;
        height: 116px;
        left: calc(50% - 210px/2);
        top: 216px;
        font-family: 'Raleway';
        font-style: italic;
        /* font-weight: 400;
        font-size: 13px; */
        line-height: 150%; 
        text-align: center;
        letter-spacing: 0.01em;
        color: #0B0B0B;
        margin-top: 0;
    }
    .language{
        height: 166px;
        width: 274px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    }
    .languageType{
        left: 0%;
        right: 45.24%;
        top: 0%;
        bottom: 42.86%;
        font-family: 'Raleway';
        font-style: italic;
        /* font-weight: 600;
        font-size: 14px; */
        line-height: 100%;
        letter-spacing: 0.05em;
        color: #0B0B0B;
        margin-left: 5%;
        padding-top: 1%;
    }
    .greyline{
        z-index: 1;
        background: url("pictures/Rectangle\ \(1\).png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 5px;
        width: 242px;
        left: 0px;
        top: 30px;
        border-radius: 10px;
        margin-left: 5%;

        }
    .yellowLine{
        background: url("pictures/Rectangle.png");
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 5px;
        width: 217px;
        left: 988px;
        top: 2203px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 387px;
        left: 0px;
        top: 5691px;        
        background: #0B0B0B;
    }
    .footerShape{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .shape8{
        margin-top: 46px;
        height: 119.948166px;
        width: 182.950409px;
        left: 0.02587890625px;
        top: 0.021484375px;
        border-radius: 0px;
        background: #FFFFFF;
        background: url("pictures/Vector.png");
        background-position: top;
        background-repeat: no-repeat;
    }
    .p8{
        width: 371px;
        height: 81px;
        left: 376px;
        top: 5844px;
            
        font-family: 'Raleway';
        font-style: italic;
        font-weight: 400;
        font-size: 13px;
        line-height: 206%;
        /* or 27px */
            
        letter-spacing: 0.05em;
            
        color: #FFFFFF;
     }
    .links{
        width: 135px;
        height: 185px;
        left: 781px;
        top: 5773px;
        
        font-family: 'Raleway';
        font-style: italic;
        /* font-weight: 600; */
        font-size: 13px;
        /* line-height: 250%; */
        letter-spacing: 0.05em;    
        color: #FFFFFF;
        padding-left: 20px;
    }
    .contactUs{
        width: 371px;
        height: 200px;
        left: 376px;
        top: 5844px;
            
        font-family: 'Raleway';
        font-style: italic;
        font-weight: 400;
        font-size: 13px;
        line-height: 206%;            
        letter-spacing: 0.05em;
        color: #FFFFFF;
        padding-left: 20px;

    }
    .mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 45px;
        width: 372px;
        left: 0px;
        top: 0px;
        border-radius: 27px;
        background: #FDE500;
        margin-bottom: 3%;
    }
    .address{
        left: 13.91%;
        right: 13.91%;
        top: 33.33%;
        bottom: 36.67%;
        font-family: 'Raleway';
        font-style: italic;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;        
        letter-spacing: 0.1em;
        text-align: center;
        color: #0B0B0B;
    }
    .contactSigns{
        display: flex;
    }
        .basketball{
            background: url("pictures/basketball.png");
            background-position: top;
            background-repeat: no-repeat;
            height: 34.00002670288086px;
            width: 34.00002670288086px;
            left: 0.01025390625px;
            top: 0px;
            border-radius: 0px;
            padding-right: 3%;
        }
        .facebook{
            background: url("pictures/facebook.png");
            background-position: top;
            background-repeat: no-repeat;
            height: 34.00002670288086px;
            width: 34.00002670288086px;
            left: 0.01025390625px;
            top: 0px;
            border-radius: 0px;
            padding-right: 3%;

        }
        .twitter{
            background: url("pictures/twitter.png");
            background-position: top;
            background-repeat: no-repeat;
            height: 34.00002670288086px;
            width: 34.00002670288086px;
            left: 0.01025390625px;
            top: 0px;
            border-radius: 0px;
            padding-right: 3%;

        }
        .google{
            background: url("pictures/google.png");
            background-position: top;
            background-repeat: no-repeat;
            height: 34.00002670288086px;
            width: 34.00002670288086px;
            left: 0.01025390625px;
            top: 0px;
            border-radius: 0px;
            padding-right: 3%;

        }
        


